body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
  border-bottom: solid 3px #3dcea5;
}

nav li a.active {
  background-color: #3dcea5;
  color: white;
}
